* {
    font-family: "Roboto", Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 200vh;
    overflow-x: scroll;
    background-color: #F0F2F5;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 3px 3px rgba(0,0,0,.1)
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left .logo {
    width: 50px;
    height: 50px;
    height: auto;
    cursor: pointer;
}

.header-left .header-icon {
    margin: 0 20px;

}

.header-left input {
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-container .search-icon {
    position: absolute;
    left: 15px;
    color: #888;
}

.header-left input {
    padding: 5px 5px 5px 40px; /* Padding left to accommodate the icon */
    border: none;
    border-radius: 5px;
    outline: none;
    height: 30px;
    background-color: #E4E6E9;
    border-radius: 20px;
}


.header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header-center .header-icon {
    margin: 0 20px;
    color: #555;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 10px;
}

.header-center .header-icon:hover {
    background-color: #E4E6E9;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right .header-icon {
    margin: 0 10px;
    color: #050505;
    font-size: 20px;
    text-decoration: none;
    border-radius: 50%;
    background-color: #E4E6EB;
    padding: 10px;
}

.header-right .header-icon:hover {
    background-color: #D8DADF;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-pic-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.mini-profile-pic {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.container {
    display: flex;
    flex: 1;
    margin-top: 70px; /* Adjust based on header height */
}

.sidebar, .contacts {
    position: fixed;
    top: 70px; /* Adjust based on header height */
    height: calc(100vh - 70px); /* Adjust based on header height */
    width: 20%;
    padding: 20px;
    background-color: #F0F2F5;
    overflow-y: auto;
    z-index: 999;
}

.sidebar {
    left: 0;
}

.contacts {
    right: 0;
}

.sidebar ul, .contacts ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li, .contacts ul li {
    margin-bottom: 10px;
}

.content {
    flex: 1;
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
    background-color: #F0F2F5;
    overflow-y: auto;
}

.status-update {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0,0,0,.1)
}

.status-update input {
    flex: 1;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #F0F2F5;
    border: none;
    border-radius: 50px;
}

.status-update button {
    background-color: #0866FF;
    border: none;
    color: #ffff;
    padding: 10px;
    cursor: pointer;
}

.status-update button:hover{
    background-color: #0861F2;
}

.posts {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0,0,0,.1)
}

.post {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.post-content {
    margin-left: 10px;
}

.post-author {
    font-weight: bold;
}

.post-time {
    color: gray;
    font-size: 12px;
}
